{% extends "base.jinja2" %}

{% block relative_imports %}

<link rel="stylesheet" href="../css/output.css">
<link rel="stylesheet" href="../css/extra.css">
<script src="../js/main.js" defer></script>

{% endblock %}


{% block main %}
<main class="min-h-screen">
    <div class="max-w-screen-xl px-12 py-8 mx-auto">
        <div class="grid grid-cols-categories gap-6">
            {% for task in task_types %}
            <a href="{{task.anchor_tag}}"
                class="group p-8 rounded-xl flex flex-col justify-end items-center gap-6 transition-all duration-200 cursor-pointer ease-in hover:bg-white hover:shadow-lg">
                <div class="task-card__illustation">
                    {{task.task_svg}}

                </div>
                <div class="flex flex-col justify-center items-center gap-3">
                    <p class="font-playfair font-medium text-lg">{{task.heading}}</p>
                    <button
                        class="btn relative px-8 py-3 bg-primary text-secondary font-medium text-base invisible opacity-0 rounded-md overflow-hidden duration-300 transition-opacity group-hover:visible group-hover:opacity-100 group-hover:active:opacity-80">
                        <span></span>
                        <span></span>
                        <span></span>
                        <p class="btn__text">{{cta}}</p>
                    </button>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</main>

{% endblock %}