{% extends "base.jinja2" %}
{% block main %}
  <main class="min-h-screen">
    <div class="mx-auto max-w-screen-2xl px-4 py-8 md:px-12">
      <div class="grid grid-cols-categories gap-6">
        {% for task in task_types %}
          <a
            href="{{ task.anchor_tag }}"
            class="group flex flex-col items-center justify-end gap-6 rounded-xl px-4 py-8 ring-inset ring-gray-400/30 transition-all duration-200 ease-in hover:bg-white/50 hover:shadow-[inset_0_2px_10px_rgba(0,0,0,0.05)] hover:ring-1 hover-none:bg-white/50 hover-none:shadow-[inset_0_2px_10px_rgba(0,0,0,0.05)] hover-none:ring-1"
          >
            <div class="svg-illu-wrapper">
              {{ task.task_svg }}
            </div>
            <div class="flex flex-col items-center justify-center gap-3">
              <p class="font-playfair font-medium">
                {{ task.heading }}
              </p>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </main>
{% endblock %}
