<footer
  class="mx-auto flex max-w-screen-2xl flex-col gap-y-1 p-4 py-8 text-center text-xs opacity-60 md:px-12"
>
  <p>
    {{ footer.contact }}
    <a class="underline hover:no-underline" href="mailto:fabian@porg.cz"
      >fabian@porg.cz</a
    >
  </p>
  <p>{{ footer.origin }}</p>
  <p class="mt-4">
    {{ footer.created }}
    <a
      class="underline hover:no-underline"
      rel="noopener noreferrer nofollow"
      target="_blank"
      href="https://www.adamtran.cz"
      >Adam Tran</a
    >
  </p>
</footer>
