<footer class="max-w-screen-xl px-8 py-4">
    <p class="text-center text-xs">website designed and created by <a class="underline font-semibold hover:no-underline"
            href="https://www.adamtran.cz">Adam Tran</a></p>
</footer>