{%extends "base.jinja2" %}
{% block relative_imports %}

<link rel="stylesheet" href="../../css/output.css">
<link rel="stylesheet" href="../../css/extra.css">
<link rel="icon" href="../../assets/favicon.svg">
<script src="../../js/main.js" defer></script>

{% endblock %}


{% block main %}

<main class="min-h-screen">
    <div class="max-w-screen-xl px-12 py-8 mx-auto">
        <h1
            class="relative w-max mx-auto text-3xl font-playfair text-center font-bold mb-12 z-10 before:absolute before:w-full before:bg-primary before:h-1 before:rounded-full before:bottom-10 before:-z-10">
            {{type_tasks[0].get_full_type(lang)}}</h1>
        <div class="grid grid-cols-subcategories gap-6">
            {% for task in type_tasks %}
            <a href="{{task.get_path_name(lang)}}"
                class="group relative flex justify-center py-8 px-12 rounded-xl transition-colors duration-200 cursor-pointer ease-in hover:bg-white hover:shadow-lg">
                <div class="transition-opacity duration-100 group-hover:opacity-0">{{task.svg}}</div>
                <p
                    class="absolute left-6 bottom-2 opacity-0 transition-all duration-300 ease-out group-hover:opacity-100 group-hover:bottom-8">
                    {{task.get_variant(lang)}}</p>
            </a>
            {%endfor%}
        </div>
    </div>
</main>

{% endblock %}