{% extends "base.jinja2" %}
{% block main %}
  <main class="min-h-screen">
    <div
      x-data="{mode:'illu'}"
      class="mx-auto max-w-screen-2xl px-4 py-8 md:px-12"
    >
      <h1
        class="relative z-10 mx-auto mb-10 w-max text-center font-playfair text-xl font-bold before:absolute before:-top-2 before:-z-10 before:h-1 before:w-full before:rounded-full before:bg-primary sm:text-2xl md:text-3xl md:before:-top-2.5"
      >
        {{ type_tasks[0].get_full_type(lang) }}
      </h1>
      <!-- Switch  between illus and text -->
      <div x-cloak class="mb-4">
        <div
          class="relative z-0 mx-auto flex w-fit justify-center overflow-hidden rounded-md bg-white ring-1 ring-inset ring-gray-400/30 transition-all hover:ring-gray-400/80"
        >
          <span
            class="absolute top-1/2 z-10 h-full w-10 -translate-y-1/2 bg-primary transition-all duration-200 ease-out"
            x-data="{illuWidth:$refs.illuBtn.clientWidth+'px', popisWidth:$refs.popisBtn.clientWidth+'px'}"
            x-init="$nextTick(()=>{
              illuWidth=$refs.illuBtn.clientWidth+'px';
              popisWidth=$refs.popisBtn.clientWidth+'px';
            })"
            :style="mode === 'illu' ? `width: ${illuWidth}; left: 0` : `width: ${popisWidth}; left: 100%; transform: translate(-100%, -50%)`"
          ></span>
          <button
            x-ref="illuBtn"
            @click="mode='illu'"
            class="z-20 py-2 px-5 transition-all active:shadow-none"
            :class="mode === 'illu' ? 'text-white' : 'shadow-[inset_0_2px_10px_rgba(0,0,0,0.05)] hover:shadow-[inset_0_2px_10px_rgba(0,0,0,0.02)] focus-visible:shadow-[inset_0_2px_10px_rgba(0,0,0,0.02)]'"
          >
            Ilustrace
          </button>
          <button
            x-ref="popisBtn"
            @click="mode='popis'"
            class="z-20 py-2 px-5 transition-all active:shadow-none"
            :class="mode === 'popis' ? 'text-white' :'shadow-[inset_0_2px_10px_rgba(0,0,0,0.05)] hover:shadow-[inset_0_2px_10px_rgba(0,0,0,0.02)] focus-visible:shadow-[inset_0_2px_10px_rgba(0,0,0,0.02)]'"
          >
            Popisek
          </button>
        </div>
      </div>
      <div x-cloak class="grid grid-cols-subcategories gap-6">
        {% for task in type_tasks %}
          <a
            href="{{ task.get_path_name(lang) }}"
            class="group relative flex min-h-[10em] justify-center rounded-xl bg-white/50 py-8 px-12 shadow-[inset_0_2px_10px_rgba(0,0,0,0.05)] ring-1 ring-inset ring-gray-400/30 transition-all duration-200 ease-in hover:bg-white/90 hover:shadow-[inset_0_2px_10px_rgba(0,0,0,0.02)] focus-visible:bg-white/90 focus-visible:shadow-[inset_0_2px_10px_rgba(0,0,0,0.02)] active:bg-white/30 active:shadow-transparent"
          >
            <div
              class="transition-opacity duration-100"
              :class="mode === 'illu' ? 'group-hover:opacity-0' : 'group-hover:opacity-100 opacity-0'"
            >
              {{ task.get_svg() }}
            </div>
            <p
              class="absolute w-full px-4 transition-all duration-300 ease-out"
              :class="mode === 'illu' ? 'group-hover:bottom-8 group-hover:opacity-100 opacity-0 bottom-2' : 'bottom-8 opacity-100 group-hover:bottom-2 group-hover:opacity-0' "
            >
              {{ task.get_variant(lang) }}
            </p>
          </a>
        {% endfor %}
      </div>
    </div>
  </main>
{% endblock %}
