{% extends "base.jinja2" %}

{% block relative_imports %}

<link rel="stylesheet" href="../../../css/output.css">
<link rel="stylesheet" href="../../../css/extra.css">
<link rel="shortcut icon" href="../../../assets/favicon.ico" type="image/x-icon">
<script src="../../../js/main.js" defer></script>

{% endblock %}
{% block main %}

<main class="min-h-screen">
    <div class="flex justify-between max-w-screen-xl px-12 py-8 mx-auto">
        <div class="w-2/3">
            <a href="../"
                class="flow-root mt-4 mb-0.5 bg-secondary text-sm w-max rounded-md px-2 py-1 active:opacity-80">{{task.get_full_type_cs()}}</a>
            <h1 class="relative mb-2 font-playfair text-3xl font-bold">
                {{task.variant}}</h1>
            <p class="mb-6">Počet řešení: {{task.num_of_solutions}}</p>
            <div class="mb-6" x-data="{isOpen: false}">
                <button x-on:click="isOpen = !isOpen"
                    class="flex w-full bg-white shadow-md rounded-xl py-5 px-6 mb-4 gap-x-3 items-center transition-all duration-200 hover:gap-x-4 active:opacity-80">
                    <svg class="transition duration-150" x-bind:class="isOpen ? 'rotate-90' : 'rotate-0'" width="19"
                        height="19" viewBox="0 0 11 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L9.5 9.5L1 18" stroke="black" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                    <div>
                        <p class="uppercase text-left tracking-wide text-xs ">ZPŮSOB ŘEŠENÍ</p>
                        <h2 class="text-2xl font-medium">{{task.solution_method}}</h2>
                    </div>
                </button>
                <div x-show="isOpen" x-transition>
                    <h3 class="font-playfair text-2xl font-semibold mb-2">Konstrukce v GeoGebře</h3>
                    <iframe class="rounded-lg border border-black w-full mb-4" height="500px"
                        src="https://www.geogebra.org/calculator/kjn4huxb?embed" allowfullscreen
                        frameborder="0"></iframe>

                    <h3 class="font-playfair text-2xl font-semibold mb-2">Postup</h3>
                    <ol class="list-decimal ml-5 flex flex-col gap-y-1">
                        {% for step in steps %}
                        <li>{{step}}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
        <aside class="relative w-1/4 mt-6">
            <div class="sticky top-20">
                <p class="text-base font-semibold mb-4">Další varianty úloh - {{task.type}}</p>
                <div class="flex flex-col gap-y-2">
                    <a href="" class="underline underline-offset-4 hover:no-underline active:opacity-80">Úloha typu
                        1</a>
                    <a href="" class="underline underline-offset-4 hover:no-underline active:opacity-80">Úloha typu
                        2</a>
                    <a href="" class="underline underline-offset-4 hover:no-underline active:opacity-80">Úloha typu
                        3</a>
                    <a href="" class="underline underline-offset-4 hover:no-underline active:opacity-80">Úloha typu
                        4</a>
                    <a href="" class="underline underline-offset-4 hover:no-underline active:opacity-80">Úloha typu
                        5</a>
                    <a href="" class="underline underline-offset-4 hover:no-underline active:opacity-80">Úloha typu
                        6</a>
                </div>
            </div>
        </aside>
    </div>
</main>


{%endblock%}