{% extends "base.jinja2" %}
{% block main %}
  <main class="min-h-screen">
    <div
      class="mx-auto flex max-w-screen-2xl justify-between px-4 py-4 md:py-8 md:px-12"
    >
      <div class="w-full md:w-2/3">
        <a
          href="../"
          class="mt-4 mb-0.5 flow-root w-max rounded bg-secondary px-2 py-1 text-sm active:opacity-80"
          >{{ task.get_full_type(lang) }}</a
        >
        <h1 class="relative mb-2 font-playfair text-3xl font-bold">
          {{ task.get_variant(lang) }}
        </h1>
        <p class="mb-6">
          {{ solution_number }}
          {{ task.num_of_solutions }}
        </p>
        <div class="flex flex-col gap-y-4">
          {% for alt_solution in task.get_solution_methods(lang) %}
            <div class="flex flex-col gap-y-3" x-data="{isOpen: false}">
              <button
                @click="isOpen = !isOpen"
                class="flex w-full items-center gap-x-3 rounded-xl bg-white/60 py-5 px-6 shadow-[inset_0_2px_10px_rgba(0,0,0,0.05)] ring-1 ring-inset ring-gray-400/30 transition-all duration-200 hover:gap-x-4 active:opacity-80"
              >
                <svg
                  class="transition duration-150"
                  :class="isOpen ? 'rotate-90' : 'rotate-0'"
                  width="19"
                  height="19"
                  viewBox="0 0 11 19"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 1L9.5 9.5L1 18"
                    stroke="black"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <div>
                  <p class="text-left text-xs uppercase tracking-wide ">
                    {{ solution_technique }}
                  </p>
                  <h2 class="text-left text-2xl font-medium">
                    {{ alt_solution["solution_name"] }}
                  </h2>
                </div>
              </button>
              <div x-show="isOpen" x-cloak x-transition>
                <div
                  class="mb-2 flex flex-col justify-between gap-y-1 sm:flex-row sm:items-center"
                >
                  <!-- Heading -->
                  <div class="flex items-center gap-x-1">
                    <h3 class="font-playfair text-2xl font-medium">
                      {{ geogebra_construction }}
                    </h3>
                    <img
                      src="/assets/info.svg"
                      tabindex="0"
                      alt="info"
                      class="mt-1 p-1"
                      data-tippy-content="{{ construction_info }}"
                    />
                  </div>
                  <!-- Download GeoGebra file -->
                  <a
                    class="group flex items-center gap-x-1 opacity-80 active:opacity-70"
                    download
                    href="/task_data/{{ task.get_type(lang)|upper }}/{{ alt_solution['file_name'].replace('.txt', '.ggb') }}"
                  >
                    <span
                      class="underline group-hover:no-underline group-focus-visible:no-underline"
                    >
                      {{ geogebra_download }}
                    </span>
                    <img class="h-7" src="/assets/download.svg" alt="" />
                  </a>
                </div>
                <!-- GeoGebra Embed Container -->
                <div class="mb-4 max-w-full">
                  <iframe
                    scrolling="no"
                    title="Apollonea Testing"
                    src="https://www.geogebra.org/material/iframe/id/ruvgdyzx/width/800/height/400/border/888888/sfsb/true/smb/false/stb/false/stbh/false/ai/false/asb/false/sri/false/rc/false/ld/false/sdz/false/ctl/true"
                    style="border:0px;"
                    allowfullscreen=""
                  >
                  </iframe>
                </div>

                <h3 class="mb-2 font-playfair text-2xl font-medium">
                  {{ postup }}
                </h3>
                <ol class="ml-5 flex list-decimal flex-col gap-y-2">
                  {% for step in task.get_construction_steps(alt_solution["file_name"], tasks, lang) %}
                    <li>{{ step }}</li>
                  {% endfor %}
                </ol>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <aside class="relative mt-6 hidden w-1/4 md:block">
        <div class="sticky top-20">
          <p class="mb-4 text-lg font-medium">
            {{ other_tasks }}
            - {{ task.get_type(lang)|upper }}
          </p>
          <ul class="flex flex-col gap-y-3">
            {% for same_task in task.get_same_type_tasks(tasks, lang) %}
              <li>
                <a
                  href="../{{ same_task.get_path_name(lang) }}"
                  class="group inline-block active:opacity-80"
                  ><span
                    class="underline underline-offset-4 group-hover:no-underline"
                  >
                    {{ same_task.get_variant(lang) }}
                  </span>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </aside>
    </div>
  </main>
{% endblock %}
{% block tippy_script %}
  <script>
    tippy("[data-tippy-content]", {
      interactive: true,
      delay: [0, 50],
      animation: "scale-subtle",
    });
  </script>
{% endblock %}
