* {
  box-sizing: border-box;
}

// would need nested groups to work on hover
.btn {
  &:hover,
  &:focus {
    span:nth-child(1) {
      transform: translateX(2.5em) rotate(45deg);
      border-radius: 50em;
      height: 25%;
      width: 0.1em;
    }
    span:nth-child(2) {
      transform: translateX(2.5em) translateY(-100%) rotate(-45deg);
      height: 25%;
      border-radius: 50em;
      width: 0.1em;
    }
    span:nth-child(3) {
      width: 1.39em;
      transform: translate(1.2em, -50%);
    }
    .btn__text {
      padding-left: 1.4em;
    }
  }
}
