<nav class="flex mx-auto max-w-screen-xl items-center justify-between px-8 py-4">
    <a href="/dist/cs/"><img src="../assets/logo.svg" class="h-10" alt="Apolloniovy úlohy"></a>
    <div class="flex justify-between items-center gap-x-4">
        <button>
            <img class="w-10 grayscale" src="../assets/czech-republic.svg" alt="CS">
        </button>
        <button>
            <img class="w-10" src="../assets/united-states.svg" alt="US">
        </button>
    </div>
</nav>